<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<div>
    <label for="search">Search</label>
    <input id="search" type="search" value.bind="searchValue">
</div>
<div>
    <label for="todoItemInput">To do</label>
    <input id="todoItemInput" />
</div>
<button id="addToList">Add To List</button>
<button id="removeItemsFromList">Remove Checked Items</button>
<button id="completeItems">Complete Checked Items</button>
<ul id="orderList" style="width: 300px; text-align: left;"></ul>
<script src="todo-view.js"></script>
</body>
</html>